.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nametag {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px;
    padding-right: 20px;
    padding-left: 5px;
    border-radius: 7px;
    position: relative;
    right: -10px;
}

.image {
    z-index: 1;
    width: 40px;
    border-radius: 20px;
}

.image-container:hover .dropdown-container {
    display: flex;
}

.dropdown-container .dropdown-item:hover {
    background-color: #ddd;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-container {
    margin-top: 50px;
    display: none;
    font-size: 12px;
    flex-direction: column;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 5px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-item {
    background-color: lightgray;
    border-radius: 5px;
    width: 60%;
    height: 10%;
    color: black;
    text-decoration: none;
    font-family: "Sanchez";
    padding: 6px 16px;
    margin: 5px;
    text-align: center;
    display: block;
}