.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E7B355;
    padding: 100px;
}

.logo-container {
    display: grid;
}

h1 {
    font-family: "Love ya like a sister";
}


.title {
    color: white;
    margin-left: 100px;
    font-family: "Sanchez";
}

.splash,
.logo {
    grid-column: 1;
    grid-row: 1;
}

.splash {
    width: 250px;
}

.logo {
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    border-bottom: 15px solid #845EC2;
    position: relative;
    padding: 30px;
    top: -50px;
    max-width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input- {
    display: flex;
    flex-direction: row;
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(169, 169, 169, 0.5);
    padding: 10px;
}

input {
    font-size: 20px;
    margin-left: 3px;
    background-color: rgba(211, 211, 211, 0);
    border-style: none;
    flex: 1;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
}

.vertical-line {
    border-left: 2px solid black;
    margin: 2px;
}

.btn {
    background-color: #845EC2;
    border-radius: 15px;
    color: white;
}

.btn:hover {
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 3px;
    text-align: center;
    font-family: "Sanchez";
    flex: 2;
}